@import url("https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap");
body{
  font-family: Inter;
  background-color: #282D35;
  color: #DEEBF8 ;
}
.logoName {
  color: #61dafb;
}
.logo {
  width: 30px;
}
.logoBar{
  display: flex;
  align-items: center;
}
.header {
  border-radius: 20px;
  padding: 25px;
  background-color: #21222a;
  display: flex;
  align-items: center;  
  justify-content:space-between;
  color: #DEEBF8;
}

main{
  padding: 10px;
  margin: 10px;
}
ul{
  list-style:none;
  padding: 0;
  margin: 0;
}
li {
  line-height:2.4rem;
  padding-left: 1em;
  text-indent: -.7em;
}
li::before{
  content: '• ';
  color:#61dafb
}
.container{
  margin-top: 20px;
  text-align: center;
}
.button{
  border: 1px solid black;
  text-decoration: none;
  color:#61dafb;
  background-color: #21222a;
  border-radius: 10px;
  padding: 15px;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
